@import url(reset.css);
@import url(header.css);
@import url(aside.css);
@import url(footer.css);

body {
    max-width: 1600px;
    margin: 0 auto;
}
body #main {
    display: flex;
    flex-flow: row wrap;
}
body #main aside {
    order: 1;
    flex-grow: 1;
    width: 10%;
}
body #main #content {
    order: 2;
    flex-grow: 1;
    width: 85%;
    display: flex;
    flex-flow: column wrap;
}

body #main #content header {
    margin: 25px auto;
}

body #main #content header ul li {
    display: inline-block;
}

body #main #content header ul li a {
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #4074A1;
    padding: 4px 10px;
    margin: -3px;
    text-decoration: none;
    transition: 0.75s;
}

body #main #content header ul li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

body #main #content header ul li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

body #main #content header ul li a:hover {
    color: #4074A1;
    background: white;
    padding: 4px 10px;
    cursor: pointer;
}

body #main #content section {
    margin: 15px auto;
    width: 550px;
    border-left: 2px solid #83A5C2;
    border-right: 2px solid #83A5C2;
    display: flex;
    flex-flow: column;
}

body #main #content section p {
    margin: 0 auto;
    color: #4C4A42;
    font-family: 'lucida grande', tahoma, sans-serif;
    font-weight: bold;
    font-size: 22px;
    width: 440px;
}

body #main #content section img {
    margin: 20px auto;
    width: 440px;
    height: 340px;
}

@media screen and (max-width: 600px) {

    body #main #content section {
        margin: 15px auto;
        width: 320px;
        border: none;
    }

    body #main #content section img {
        margin: 0 auto;
        width: 320px;
        height: 300px;
    }

    body #main #content section p {
        width: 320px;
        text-align: center;
    }
}

@media screen and (max-width: 380px) {

    body #main #content header {
        margin: 6px auto;
    }

    body #main #content section {
        margin: 15px auto;
        width: 290px;
    }
    body #main #content section img {
        margin: 0 auto;
        width: 290px;
        height: 270px;
    }

    body #main #content section p {
        width: 290px;
        font-size: 17px;
        text-align: center;
    }

    body #main #content header ul li {
        display: inline-block;
        /*flex-flow: row;*/
        padding-top: 7px;
    }

    body #main #content header ul li a {
        text-align: center;
        font-size: 14px;
    }
}

@media screen and (max-width: 300px) {

    body #main #content header {
        margin: 6px auto;
    }

    body #main #content section {
        margin: 15px auto;
        width: 250px;
        border: none;
    }
    body #main #content section img {
        margin: 0 auto;
        width: 250px;
        height: 270px;
    }

    body #main #content section p {
        width: 250px;
        font-size: 17px;
        text-align: center;
    }

    body #main #content header ul li {
        display: inline-block;
        /*flex-flow: row;*/
        padding-top: 7px;
    }

    body #main #content header ul li a {
        text-align: center;
        font-size: 14px;
    }
}