@import "reset.css";
@import "header.css";
@import "aside.css";
@import "main.scss";
@import "footer.scss";

body {
    //background: red;
    max-width: 1600px;
    margin: 0 auto;

    #main {
        display: flex;
        flex-flow: row wrap;

        aside {
            //border: 1px solid red;
            order: 1;
            flex-grow: 1;
            width: 10%;
        }

        #content {
            //border: 1px solid red;
            order: 2;
            flex-grow: 1;
            width: 85%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;

            img {
                //display: inline-block;
                border: 1px solid $mainColor;
                border-radius: 4px;
                margin: 20px;
                transition: all 4s;
                @media screen and (min-width: 500px) and (max-width: 600px) {
                    width: 200px;
                }

                &:hover {
                    border: 1px solid darken($mainColor, 20%);
                    cursor: help;
                }
            }
        }
    }
}
