@import "reset.css";
@import "header.css";

body {
    //background: red;
    max-width: 1600px;
    margin: 0 auto;

    #main {
        display: flex;
        flex-flow: row wrap;

        aside {
            border: 1px solid red;
            order: 1;
            flex-grow: 1;
            width: 20%;
        }

        #content {
            border: 1px solid red;
            order: 2;
            flex-grow: 1;
            width: 79%;
        }
    }

    footer {
        display: flex;
        flex-flow: row wrap;

        div:first-of-type {
            order: 1;
        }

        div:last-of-type {
            order: 2;
        }
    }
}
