@import "reset.css";
@import "header.css";
@import "aside.css";
@import "main.scss";
@import "footer.scss";

body {
    //background: red;
    max-width: 1600px;
    margin: 0 auto;

    #main {
        display: flex;
        flex-flow: row wrap;

        aside {
            //border: 1px solid red;
            order: 1;
            flex-grow: 1;
            width: 10%;
        }


        .alert-info {
            margin-top: 2px;
            width: 100%;
            text-align: center;
        }

        #content {
            //border: 1px solid red;
            order: 2;
            flex-grow: 1;
            width: 85%;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

            fieldset:first-of-type {
                margin-top: 50px;
            }

            fieldset {
                background: rgba($mainColor, 0.7);
                border: 1px solid $mainColor;
                border-radius: 5px;
                margin-bottom: 70px;
                padding: 20px;

                legend {
                    background: $mainColor;
                    color: #fff;
                    padding: 5px;
                    text-align: center;
                    border-radius: 5px;
                    text-transform: uppercase;
                }

                input[type="text"], input[type="email"], input[type="password"] {
                    display: block;
                    padding: 5px 5px 5px 15px;
                    margin: 5px 2px;
                    border-radius: 4px;
                    outline: 0;
                    color: $mainColor;
                    border: 1px solid #000;

                    &:focus {
                        box-shadow: 10px 0 0 inset;
                    }
                }

                #radio-buttons {
                    margin: 5px 2px 10px 2px;
                    display: flex;
                    justify-content: center;

                    input[type="radio"] {
                        margin-left: 10px;
                    }
                }

                input[type="submit"] {
                    display: block;
                    width: 50%;
                    margin: 0 25%;
                    padding: 10px 0;
                    border: 1px solid #000;
                    border-radius: 5px;
                    background: $mainColor;
                    color: #fff;
                    font-size: 1.5rem;

                    &:hover {
                        background: radial-gradient($mainColor, #1f4d74);
                    }
                }
            }
        }
    }
}
